<div class="reviewpg">
  <div class="revpgcontainer-1">
    <div class="row align-items-start">
      <div class="col">
        <div class="movie-box">
          <div class="card mb-3">
            <div>
              <input>
              <button>Search Movie</button>
            </div>
            {{!-- <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
                {{movie poster}}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {{movie.title}}
                  </h5>
                  <p class="card-text">Ratings:
                    {{movie.rating}}
                  </p>
                  <p class="card-text">Genre:
                    {{movie.genre}}
                  </p>
                  
                  <button type="button" class="btn addrev-btn"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Add Review
                  </button>
                </div>
              </div>
            </div> --}}
          </div>
        </div>

        <div class="revpg-box-1">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">
                {{review.user_id}}
              </h6>
              <h7 class="card-subtitle mb-2 text-muted">
                {{review.date_created}}
              </h7>
              <p class="card-text">
                {{review.content}}
              </p>
            </div>
          </div>
        </div>

      </div>



      <div class="col">
        <div>
          <div class="watchlist-box-">
            <div class="card mb-3">
              <div class="row g-0">
                {{!-- <div class="col-md-4">
                  <h6 class="card-title" style="font-size: Medium;">Watchlist</h6>
                  <img src="..." class="img-fluid rounded-start" alt="...">
                  {{movie poster}}
                </div> --}}
                <div class="col-md-8">
                  <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                      {{!-- {{}} --}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="recenlty-watched-box">
            <div class="card mb-3">
              <div class="row g-0">
                {{!-- <div class="col-md-4">
                  <h6 class="movie-title" style="font-size: Medium;">Recently Watched</h6>
                  <img src="..." class="img-fluid rounded-start" alt="...">
                  {{movie poster}}
                </div> --}}
                <div class="col-md-8">
                  <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                      {{profile.watched}}
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {{!-- make card ^ repeated --}}
    {{!-- add {{}} to get user watchlist info and recently wacthed info--}}
    {{!-- note: add onclick functions for buttons --}}


  </div>
</div>
</div>
<script src=".javascript/review.js"></script>